/*1015px width*/

@media (max-width:1400px) {
    .card{
        width: 70vw;
        height: auto;
        margin: 20px;
        /* border-radius: 10px; */
        background-color: rgba(36, 32, 46, 0.527);
    
        display: flex;
    }
    
    .main {
        width: 60%;
        /* padding: 40px; */
    }
    
    .side {
        width:40%;
        height: auto;
        background-color: rgba(41, 38, 50, 0.633);
    }
}

/*985 width -> change the buttons and card size and slightly change the font*/

/* @@media (max-width: 985px){

} */


/*850 width -> above changes + change card orientation*/

@media (max-width : 1360px){
    .time, .space {
        width : 40%;
        height: 40px;
        
    }
}

@media (max-width: 980px){
    

    .card {
        flex-direction: column;
        position : relative;
        /* padding: 40px; */
        height: auto;
        margin:10px;
        
    }

    .notification, .github{
        width: 70vw;
        height: auto;
        margin: 20px;
        padding: 15px;
        /* background:linear-gradient(to right,rgb(255, 255, 91),rgba(255, 255, 19, 0.877)); */
        
    }
    
    span#notes{
        padding-inline: 15px;
        font: 600 15px "Roboto", sans-serif;
        color: rgb(255, 255, 255);
    }
    
    svg#announcement{
        fill:rgb(255, 255, 255);
        padding-inline: 15px;
        height: 60px;
        width: 60px;
    }

    .main {
        width : auto;
        padding-bottom: 5%;
        height: auto;

    }
    .side {
        width : 100%;
        flex-direction: row;
        height : auto;
        /* position : absolute;
        bottom: 0px;    
        left:0px;  */
        justify-content: space-around;   
        box-sizing: border-box;
        
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .button {
        width: 30%;
        font-size: 13px;
        padding-inline: 15px;
    }

    .complexities {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        gap: 20px;
    }
    #tc, #sc {
        display : none;
    }

}


@media (max-width:668px){

    .card{
        width: 90vw;
        height: auto;
        /* margin: 10px; */
        /* border-radius: 10px; */
        /* background-color: rgba(36, 32, 46, 0.527); */
    
        display: flex;
    }

    .notification, .github{
        width: 85vw;
        height: auto;
        margin: 10px;
        padding: 10px;
        /* background:linear-gradient(to right,rgb(255, 255, 91),rgba(255, 255, 19, 0.877)); */
        
    }
    
    span#notes{
        padding-inline: 15px;
        font: 600 14px "Roboto", sans-serif;
        color: rgb(255, 255, 255);
    }
    
    svg#announcement{
        fill:rgb(255, 255, 255);
        padding-inline: 15px;
        height: 60px;
        width: 60px;
    }

    .main{
        /* height: 80%; */
        padding-top:20px;
        padding-inline: 20px;
        padding-bottom: 10px;
    }

    .side{
        /* height: 20%; */
        padding-top: 10px;
    }

    #visualize span, #resource_1 span, #resource_2 span {
        display: none;
    }

    .complexities {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        gap: 20px;
    }

    .time, .space {
        width : 40%;
        height: 40px;
        
    }

    .complexity_box {
        width: 50%;
    }

    #time_complexity, #space_complexity {
        display: none;
    }

    #tc, #sc {
        display : block;
        position : absolute;
        left: 20%;

    }
}

@media(max-width:525px){
    .notification, .github{
        width: 85vw;
        height: auto;
        margin-top: 20px;
        /* background:linear-gradient(to right,rgb(255, 255, 91),rgba(255, 255, 19, 0.877)); */
        
    }
    
    span#notes{
        padding-inline: 15px;
        font: 600 13px "Roboto", sans-serif;
        color: rgb(255, 255, 255);
    }
    
    svg#announcement{
        fill:rgb(255, 255, 255);
        padding-inline: 10px;
        height: 70px;
        width: 70px;
    }
}

@media (max-width: 450px){
    #tc, #sc {
        display : block;
        position : absolute;
        left: 14%;
    }

    .sticky_bar {
        /* margin-bottom: px; */
    }
}

@media(max-width: 390px){
    .notification{
        width: 85vw;
        height: auto;
        margin: 10px;
        padding: 10px;
    
        /* background:linear-gradient(to right,rgb(255, 255, 91),rgba(255, 255, 19, 0.877)); */
        
    }
    
    span#notes{
        padding-inline: 10px;
        font: 600 13px "Roboto", sans-serif;
        color: rgb(255, 255, 255);
    }
    
    svg#announcement{
        display: none;
    }
}

