/*1015px width*/

@media (max-width:1400px) {
    .card{
        width: 70vw;
        height: 320px;
        margin: 20px;
        border-radius: 10px;
        background-color: rgba(36, 32, 46, 0.527);
    
        display: flex;
    }
    
    .main {
        width: 60%;
        padding: 40px;
    }
    
    .side {
        width:40%;
        height: 100%;
        background-color: rgba(41, 38, 50, 0.633);
    }
}

/*985 width -> change the buttons and card size and slightly change the font*/

/* @@media (max-width: 985px){

} */


/*850 width -> above changes + change card orientation*/

@media (max-width : 1360px){
    .time, .space {
        width : 40%;
        height: 40px;
        
    }
}

@media (max-width: 980px){
    

    .card {
        flex-direction: column;
        position : relative;
        padding: 40px;
        
    }

    .main {
        width : auto;
        padding: 0px;
        height: 75%;
    }
    .side {
        width : 100%;
        flex-direction: row;
        height : 25%;
        position : absolute;
        bottom: 0px;    
        left:0px; 
        justify-content: space-around;   
        box-sizing: border-box;
        padding-inline: 20px;
        /* padding-inline: px; */
    }

    .button {
        width: 30%;
        font-size: 13px;
        padding-inline: 15px;
    }

    .complexities {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        gap: 20px;
    }
    #tc, #sc {
        display : none;
    }

}


@media (max-width:668px){
    #visualize span, #resource_1 span, #resource_2 span {
        display: none;
    }

    .complexities {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        gap: 20px;
    }

    .time, .space {
        width : 40%;
        height: 40px;
        
    }

    .complexity_box {
        width: 50%;
    }

    #time_complexity, #space_complexity {
        display: none;
    }

    #tc, #sc {
        display : block;
        position : absolute;
        left: 20px;

    }
}