.main_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width:auto;
}

.box {
    background: linear-gradient(rgb(86, 8, 164), rgba(255, 255, 255, 0.021));
    /* background-color: blueviolet; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    margin-right: 2px;

    /* transition: height 0.5s ease; */
}

.index {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 2px;
    font-size:0.8rem;
    font-weight: 600;
    background-color: khaki;
    color: black;

}

.current {
    background: linear-gradient(rgba(220, 20, 60, 0.362),crimson) !important;
}

.current_array {
    background: linear-gradient(rgba(34, 139, 34, 0.444), forestgreen) !important;
}

.swap {
    background: linear-gradient(rgba(128, 0, 128, 0.367) , purple) !important;
    /* background: linear-gradient(rgba(255, 255, 0, 0.479) , yellow) !important; */
}

.swapped {
    background-color: purple !important;
    color:white !important;
}

.compared {
    background: linear-gradient(rgba(0, 191, 255, 0.322), deepskyblue) !important;
}